
    <!---------------------------------- end header ------>

    <!-------------------------------- start section 1  -->
    <section class="container text-center">
      <div class="about-me mb-5">
        <div class="about-me-adress">
            <h1 class="adress1 par-adress">partners</h1>
            <h2 class="adress2 par-adress2">our partners</h2>
        </div>
        <div class="line-before"></div>
     </div>
      <div class="owl-carousel">
        <div class="">
          <div class="div-img">
            <img src="assets/img/cheerful-banker-advertising-loan-program.jpg" alt="" class="w-100">
          </div>
        </div>
        <div class="">
          <div class="div-img">
            <img src="assets/img/cheerful-banker-advertising-loan-program.jpg" alt="" class="w-100">
          </div>
        </div>
        <div class="">
          <div class="div-img">
            <img src="assets/img/cheerful-banker-advertising-loan-program.jpg" alt="" class="w-100">
          </div>
        </div>
        <div class="">
          <div class="div-img">
            <img src="assets/img/cheerful-banker-advertising-loan-program.jpg" alt="" class="w-100">
          </div>
        </div>
        <div class="">
          <div class="div-img">
            <img src="assets/img/cheerful-banker-advertising-loan-program.jpg" alt="" class="w-100">
          </div>
        </div>
        <div class="">
          <div class="div-img">
            <img src="assets/img/cheerful-banker-advertising-loan-program.jpg" alt="" class="w-100">
          </div>
        </div>

      </div>
    </section>
    <!-------------------------------- end section 1  ---->

    <!-------------------------------- start section 2  -->
    <section class="mb-5 over">
      <div class="row mt-5">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="make-padding">
            <p class="landing-aboutt">about us</p>
            <h2 class="h-style">who we are</h2>
            <div class="line-blue"></div>
            <p class="p-style">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, nemo
               dignissimos cupiditate molestiae molestias nihil nesciunt aliquam quia facilis fugiat?</p>
            <div class="d-flex">
               <div class="me-3 mb-4">
                <img src="assets/img/001-process.png" alt="">
               </div>
               <div>
                <h6 class="text-uppercase">fitnies exrcies</h6>
                <p class="p-style2">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
               </div>
            </div>
            <div class="d-flex">
              <div class="me-3">
                  <img src="assets/img/007-analysis.png" alt="">
              </div>
              <div>
               <h6 class="text-uppercase">cardio trainng</h6>
               <p class="p-style2">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
              </div>
           </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="bg-color text-center">
              <img src="assets/img/Group 16304.png" class="w-75">
          </div>
      </div>
      </div>
    </section>
    <!-------------------------------- end section 2  ---->

    <!-------------------------------- start section 3  -->
    <section class="bg-why-color">
      <div class="container">
        <div class="row section-font">
          <div class="about-me">
            <div class="about-me-adress">
                <h1 class="adress1 par-adress">shopping</h1>
                <h2 class="adress2 par-adress2">why choose treda</h2>
            </div>
            <div class="line-before"></div>
         </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="box">
                    <div>
                      <img src="assets/img/icon 1.png" alt="" class="w-100">
                    </div>
                    <h4 class="mt-3 mb-2">Lorem ipsum</h4>
                    <p class="m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Aliquam, sapiente. Id at enim aliquid deleniti?</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="box">
                <div>
                  <img src="assets/img/icon 2.png" alt="" class="w-100">
                </div>
                <h4 class="mt-3 mb-2">Lorem ipsum</h4>
                <p class="m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquam, sapiente. Id at enim aliquid deleniti?</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="box">
                <div>
                  <img src="assets/img/icon 3.png" alt="" class="w-100">
                </div>
                <h4 class="mt-3 mb-2">Lorem ipsum</h4>
                <p class="m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquam, sapiente. Id at enim aliquid deleniti?</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="box">
                <div>
                  <img src="assets/img/icon 4.png" alt="" class="w-100">
                </div>
                <h4 class="mt-3 mb-2">Lorem ipsum</h4>
                <p class="m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquam, sapiente. Id at enim aliquid deleniti?</p>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-------------------------------- end section 3  ---->

    <!-------------------------------- start section 4 --->
     <section class="container">
      <div class="row">
        <div class="about-me">
          <div class="about-me-adress">
              <h1 class="adress1 par-adress">shopping</h1>
              <h2 class="adress2 par-adress2">some of our best clients</h2>
          </div>
          <div class="line-before"></div>
       </div>
       <div class="col-md-6 col-mg-6 col-12 my-5 text-center">
          <iframe width="85%" height="280" src="https://www.youtube.com/embed/uXnLyUZYkVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
       <div class="col-md-6 col-mg-6 col-12 my-5 text-center">
        <iframe width="85%" height="280" src="https://www.youtube.com/embed/uXnLyUZYkVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
       <div class="col-md-6 col-mg-6 col-12 my-5 text-center">
        <iframe width="85%" height="280" src="https://www.youtube.com/embed/uXnLyUZYkVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
       <div class="col-md-6 col-mg-6 col-12 my-5 text-center">
        <iframe width="85%" height="280" src="https://www.youtube.com/embed/uXnLyUZYkVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
      </div>
     </section>
    <!-- ----------------------------- end section 4 ----->

    <!------------------------------- start section 5 -->
    <section class="mb-5 mt-5">
      <div class="container">
         <div class="row top-subscribe">
             <div class="col-md-4 col-lg-4 col-12">
                 <div class="sub-img">
                     <img src="assets/img/Group 1197.png" alt="">
                 </div>
             </div>
             <div class="col-md-8 col-lg-8 col-12">
                 <div class="row bottom-sub ">
                     <div class="col-12 col-lg-8 col-md-8">
                         <input type="text" class="form-control" placeholder="your email">
                     </div>
                     <div class="col-12 col-lg-4 col-md-4">
                         <button class="btn">subscribe</button>
                     </div>
                 </div>

             </div>
             </div>
         </div>
    </section>
    <!-------------------------------- end section 5 -->

    <!-- thisi is footer -->
    <footer>
       <div class="container">
         <div class="row">
               <div class="col-md-3 col-lg-3 col-12 mt-2">
                 <ul class="left-ul">
                    <li>
                     <img src="assets/img/logo-white.png" alt="">
                    </li>
                    <li class="ps-4 mb-2">stay in touch</li>
                    <li class="social ps-4 mb-2">
                       <span class="m-1"><i class="fa-brands fa-facebook-f"></i></span>
                       <span class="m-1"><i class="fa-brands fa-google-plus-g"></i></span>
                       <span class="m-1"><i class="fa-brands fa-twitter"></i></span>
                       <span class="m-1"><i class="fa-brands fa-instagram"></i></span>
                    </li>
                 </ul>
               </div>
               <div class="col-md-3 col-lg-3 col-12 mt-2">
                 <ul>
                    <li class="text-uppercase mb-4">quick links</li>
                    <li class="mb-2"><a href="#">about</a></li>
                    <li class="mb-2"><a href="#">home</a></li>
                    <li class="mb-2"><a href="#">pricing</a></li>
                    <li class="mb-2"><a href="#">location</a></li>
                    <li class="mb-2"><a href="#">office</a></li>
                 </ul>
               </div>
               <div class="col-md-3 col-lg-3 col-12 mt-2">
                 <ul>
                    <li class="text-uppercase mb-4">important links</li>
                    <li class="mb-2"><a href="#">faq</a></li>
                    <li class="mb-2"><a href="#">oilicy</a></li>
                 </ul>
               </div>
               <div class="col-md-3 col-lg-3 col-12 mt-2">
                 <ul>
                    <li class="text-uppercase mb-4">contact</li>
                    <li class="mb-2">
                     <div class="row">
                         <div class="col-lg-1 col-md-1 col-1">
                             <span class="me-2 text-center"><i class="fa-solid fa-phone"></i></span>
                         </div>
                         <div class="col-lg-10 col-md-10 col-10">
                             <span class="">000 - 000 - 000</span>
                         </div>
                     </div>
                    </li>
                    <li class="mb-2">
                     <div class="row">
                         <div class="col-lg-1 col-md-1 col-1">
                             <span class="me-2 text-center"><i class="fa-solid fa-envelope"></i></span>
                         </div>
                         <div class="col-lg-10 col-md-10 col-10">
                             <span>info@gmail.com</span>
                         </div>
                     </div>
                    </li>
                    <li class="mb-2">
                     <div class="row">
                         <div class="col-lg-1 col-md-1 col-1">
                             <span class="me-2 text-center"><i class="fa-solid fa-location-dot"></i></span>
                         </div>
                         <div class="col-lg-10 col-md-10 col-10">
                             <span> new damietta city</span>
                         </div>
                     </div>
                    </li>
                 </ul>
               </div>
         </div>
       </div>
    </footer>



      <script src="assets/js/jquery-3.6.1.min.js"></script>
      <script src="assets/js/bootstrap.bundle.min.js"></script>
      <script src="assets/js/owl.carousel.min.js"></script>
      <script src="assets/js/script.js"></script>
  </body>
</html>
